In [1]:
import pandas as pd

In [2]:
# extracting tables from database
import sqlite3
def list_tables(database_file):
    connection = sqlite3.connect('data.db')
    cursor = connection.cursor()
    cursor.execute("""select name from sqlite_master where type = 'table';
                    """)
                    
    tables = cursor.fetchall()
    cursor.close()
    connection.close()
    table_names = [table[0] for table in tables]
    return table_names

In [3]:
# saving tables as individual dataframes
connection = sqlite3.connect('data.db')
query = """select *
        from client as cl;
        """
client = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from client_products as cl;
        """
client_products = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from balances as cl;
        """
balances = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from inv_campaign_eval as cl;
        """
inv_campaign_eval = pd.read_sql_query(query, connection)
connection.close

In [4]:
# creating one large table with client data (excluding balances table)
connection = sqlite3.connect('data.db')
query = """
        select *
        from client as cl
        left join client_products as cp on cl.client_id = cp.client_id
        --left join balances as ba on cl.client_id = ba.client_id
        left join inv_campaign_eval as camp on cl.client_id = camp.client_id;
        """
clients_merged = pd.read_sql_query(query, connection)
connection.close

In [5]:
# checking for datatypes
print(clients_merged.dtypes)

# checking for missing values
clients_merged.isnull().sum()

client_id          int64
age              float64
job               object
marital           object
education         object
gender            object
client_id          int64
has_deposits      object
loan              object
has_insurance     object
has_mortgage      object
client_id        float64
poutcome          object
dtype: object

client_id           0
age               232
job               438
marital             0
education           0
gender              0
client_id           0
has_deposits        0
loan                0
has_insurance       0
has_mortgage        0
client_id        8863
poutcome         8863
dtype: int64

In [8]:
clients_merged

,client_id,age,job,marital,education,gender,client_id,has_deposits,loan,has_insurance,has_mortgage,client_id,poutcome
0,249789938,38.0,services,married,secondary,M,249789938,yes,no,n,no,249789938.0,success
1,1222646323,46.0,services,divorced,unknown,M,1222646323,no,no,n,no,NaN,None
2,451375919,33.0,admin.,single,secondary,F,451375919,no,no,n,yes,NaN,None
3,338972671,44.0,self-employed,married,secondary,F,338972671,no,no,y,yes,NaN,None
4,1472834688,36.0,blue-collar,married,primary,M,1472834688,yes,no,n,yes,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,543198889,40.0,blue-collar,single,unknown,M,543198889,no,no,n,yes,NaN,None
11158,458558558,41.0,housemaid,divorced,primary,F,458558558,no,no,n,yes,NaN,None
11159,1426334329,59.0,technician,married,primary,F,1426334329,no,no,y,yes,NaN,None
11160,831035343,42.0,management,married,tertiary,M,831035343,no,no,n,no,NaN,None
11161,705801685,36.0,blue-collar,single,secondary,F,705801685,yes,no,n,yes,705801685.0,success