In [6]:
import sqlite3
def list_tables(database_file):
    connection = sqlite3.connect('data.db')
    cursor = connection.cursor()
    cursor.execute("""select name from sqlite_master where type = 'table';
                    """)
                    
    tables = cursor.fetchall()
    cursor.close()
    connection.close()
    table_names = [table[0] for table in tables]
    return table_names

In [15]:
import pandas as pd
connection = sqlite3.connect('data.db')
query = """select *
        from client as cl;
        """
client = pd.read_sql_query(query, connection)
connection.close

In [16]:
import pandas as pd
connection = sqlite3.connect('data.db')
query = """select *
        from client_products as cl;
        """
client_products = pd.read_sql_query(query, connection)
connection.close

In [17]:
import pandas as pd
connection = sqlite3.connect('data.db')
query = """select *
        from balances as cl;
        """
balances = pd.read_sql_query(query, connection)
connection.close

In [18]:
import pandas as pd
connection = sqlite3.connect('data.db')
query = """select *
        from inv_campaign_eval as cl;
        """
inv_campaign_eval = pd.read_sql_query(query, connection)
connection.close

In [19]:
my_database_file_path = "/content/data.db"

In [20]:

print(client.head(10))
print(client_products.head(10))
print(balances.head(10))
print(inv_campaign_eval.head(10))

    client_id   age            job   marital  education gender
0   249789938  38.0       services   married  secondary      M
1  1222646323  46.0       services  divorced    unknown      M
2   451375919  33.0         admin.    single  secondary      F
3   338972671  44.0  self-employed   married  secondary      F
4  1472834688  36.0    blue-collar   married    primary      M
5  1068680340  63.0         admin.   married  secondary      F
6   711558356  38.0  self-employed    single   tertiary      F
7   422084751  30.0     technician    single  secondary      M
8   123316323  36.0    blue-collar  divorced  secondary      F
9  1504633819  38.0     management   married   tertiary      M
    client_id has_deposits loan has_insurance has_mortgage
0   249789938          yes   no             n           no
1  1222646323           no   no             n           no
2   451375919           no   no             n          yes
3   338972671           no   no             y          yes
4  1472834688          yes   no             n          yes
5  1068680340          yes   no             n          yes
6   711558356          yes   no             n          yes
7   422084751          yes   no             n           no
8   123316323          yes   no             n           no
9  1504633819           no  yes             n          yes
                         date      balance  client_id currency
0  2023-06-06 16:21:15.291346  2680.467773  249789938      CZK
1  2023-05-23 16:21:15.291346  2654.055419  249789938      CZK
2  2023-05-09 16:21:15.291346  2620.835872  249789938      CZK
3  2023-04-25 16:21:15.291346  2720.315925  249789938      CZK
4  2023-04-11 16:21:15.291346  2687.601982  249789938      CZK
5  2023-03-28 16:21:15.291346  2681.192901  249789938      CZK
6  2023-03-14 16:21:15.291346  2669.402467  249789938      CZK
7  2023-02-28 16:21:15.291346  2685.846081  249789938      CZK
8  2023-02-14 16:21:15.291346  2709.095707  249789938      CZK
9  2023-01-31 16:21:15.291346  2664.606049  249789938      CZK
    client_id poutcome
0   249789938  success
1  1504633819  failure
2  1952195738  success
3   989726384  success
4  1971878545  failure
5  1823731216  failure
6  1129179996  failure
7   178705988  success
8  1744740913  success
9  1810967844  success