In [1]:
# Master jupyter notebook for Case Study

In [2]:
# importing libraries
import pandas as pd
import sqlite3
from sklearn.preprocessing import LabelEncoder

In [3]:
# Extracting tables from database
def list_tables(database_file):
    connection = sqlite3.connect('data.db')
    cursor = connection.cursor()
    cursor.execute("""select name from sqlite_master where type = 'table';
                    """)
                    
    tables = cursor.fetchall()
    cursor.close()
    connection.close()
    table_names = [table[0] for table in tables]
    return table_names

# Saving tables as dataframes
connection = sqlite3.connect('data.db')
query = """select *
        from client as cl;
        """
client = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from client_products as cl;
        """
client_products = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from balances as cl;
        """
balances = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from inv_campaign_eval as cl;
        """
inv_campaign_eval = pd.read_sql_query(query, connection)
connection.close

# merging tables with client data (excluding balances and campaign eval table)
connection = sqlite3.connect('data.db')
query = """
        select cl.client_id, age, job, marital, education, gender, has_deposits, loan, has_insurance, has_mortgage
        from client as cl
        left join client_products as cp on cl.client_id = cp.client_id
        --left join balances as ba on cl.client_id = ba.client_id
        --left join inv_campaign_eval as camp on cl.client_id = camp.client_id;
        """
clients_merged = pd.read_sql_query(query, connection)
connection.close

# checking for datatypes
print(clients_merged.dtypes)

# checking for missing values
print(clients_merged.isnull().sum()) # missing values in Age and Job
print(balances.isna().sum()) # no missing values

client_id          int64
age              float64
job               object
marital           object
education         object
gender            object
has_deposits      object
loan              object
has_insurance     object
has_mortgage      object
dtype: object
client_id          0
age              232
job              438
marital            0
education          0
gender             0
has_deposits       0
loan               0
has_insurance      0
has_mortgage       0
dtype: int64
date         0
balance      0
client_id    0
currency     0
dtype: int64

In [4]:
# dealing with missing values
clients_merged['job'].fillna('unknown', inplace=True) # imputing "unknown" in job
clients_merged['age'].fillna(clients_merged['age'].median(), inplace=True) # imputing median in age

In [10]:
# label encoding categorical variables
le = LabelEncoder()
clients_merged['has_deposits_enc'] = le.fit_transform(clients_merged['has_deposits'])
clients_merged['loan_enc'] = le.fit_transform(clients_merged['loan'])
clients_merged['has_insurance_enc'] = le.fit_transform(clients_merged['has_insurance'])
clients_merged['has_mortgage_enc'] = le.fit_transform(clients_merged['has_mortgage'])
clients_merged['marital_enc'] = le.fit_transform(clients_merged['marital'])
clients_merged['education_enc'] = le.fit_transform(clients_merged['education'])
clients_merged['gender_enc'] = le.fit_transform(clients_merged['gender'])
clients_merged['job_enc'] = le.fit_transform(clients_merged['job'])

In [11]:
# extracting encoding labels
job_labels = clients_merged[['job', 'job_enc']].drop_duplicates().sort_values('job_enc')
gender_labels = clients_merged[['gender', 'gender_enc']].drop_duplicates().sort_values('gender_enc')
education_labels = clients_merged[['education', 'education_enc']].drop_duplicates().sort_values('education_enc')
marital_labels = clients_merged[['marital', 'marital_enc']].drop_duplicates().sort_values('marital_enc')
has_mortgage_labels = clients_merged[['has_mortgage', 'has_mortgage_enc']].drop_duplicates().sort_values('has_mortgage_enc')
has_insurance_labels = clients_merged[['has_insurance', 'has_insurance_enc']].drop_duplicates().sort_values('has_insurance_enc')
loan_labels = clients_merged[['loan', 'loan_enc']].drop_duplicates().sort_values('loan_enc')
has_deposits_labels = clients_merged[['has_deposits', 'has_deposits_enc']].drop_duplicates().sort_values('has_deposits_enc')

In [ ]:
# feature engineering: balances
# last balance, mean balance, min balance, max balance

In [15]:
# joining evaluation table with cleaned client table
first_round_clients = pd.merge(inv_campaign_eval, clients_merged, on = 'client_id')
print(first_round_clients)

       client_id poutcome   age          job   marital  education gender  \
0      249789938  success  38.0     services   married  secondary      M
1     1504633819  failure  38.0   management   married   tertiary      M
2     1952195738  success  34.0     services   married  secondary      M
3      989726384  success  62.0      retired   married  secondary      F
4     1971878545  failure  36.0   management    single   tertiary      M
...          ...      ...   ...          ...       ...        ...    ...
2294  1270855655  failure  58.0       admin.  divorced  secondary      F
2295   471724023  success  72.0      retired   married    primary      M
2296   620088171  failure  34.0       admin.   married   tertiary      F
2297  1518319265  success  39.0   management   married    unknown      F
2298   705801685  success  36.0  blue-collar    single  secondary      F

     has_deposits loan has_insurance has_mortgage  has_deposits_enc  loan_enc  \
0             yes   no             n           no                 1         0
1              no  yes             n          yes                 0         1
2             yes  yes             n           no                 1         1
3             yes   no             n           no                 1         0
4             yes   no             n           no                 1         0
...           ...  ...           ...          ...               ...       ...
2294          yes   no             y          yes                 1         0
2295          yes   no             n           no                 1         0
2296          yes   no             y          yes                 1         0
2297          yes   no             n           no                 1         0
2298          yes   no             n          yes                 1         0

      has_insurance_enc  has_mortgage_enc  marital_enc  education_enc  \
0                     0                 0            1              1
1                     0                 1            1              2
2                     0                 0            1              1
3                     0                 0            1              1
4                     0                 0            2              2
...                 ...               ...          ...            ...
2294                  1                 1            0              1
2295                  0                 0            1              0
2296                  1                 1            1              2
2297                  0                 0            1              3
2298                  0                 1            2              1

      gender_enc  job_enc
0              1        7
1              1        4
2              1        7
3              0        5
4              1        4
...          ...      ...
2294           0        0
2295           1        5
2296           0        0
2297           0        4
2298           0        1

[2299 rows x 19 columns]