In [1]:
# Master jupyter notebook for Case Study

In [2]:
# importing libraries
import pandas as pd
import sqlite3
from sklearn.preprocessing import LabelEncoder
import datetime
from forex_python.converter import CurrencyRates
from forex_python.converter import RatesNotAvailableError

In [3]:
# extracting tables from database
def list_tables(database_file):
    connection = sqlite3.connect('data.db')
    cursor = connection.cursor()
    cursor.execute("""select name from sqlite_master where type = 'table';
                    """)
                    
    tables = cursor.fetchall()
    cursor.close()
    connection.close()
    table_names = [table[0] for table in tables]
    return table_names

# saving tables as dataframes
connection = sqlite3.connect('data.db')
query = """select *
        from client as cl;
        """
client = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from client_products as cl;
        """
client_products = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from balances as cl;
        """
balances = pd.read_sql_query(query, connection)
connection.close

connection = sqlite3.connect('data.db')
query = """select *
        from inv_campaign_eval as cl;
        """
inv_campaign_eval = pd.read_sql_query(query, connection)
connection.close

# merging tables with client data (excluding balances and campaign eval table)
connection = sqlite3.connect('data.db')
query = """
        select cl.client_id, age, job, marital, education, gender, has_deposits, loan, has_insurance, has_mortgage
        from client as cl
        left join client_products as cp on cl.client_id = cp.client_id
        --left join balances as ba on cl.client_id = ba.client_id
        --left join inv_campaign_eval as camp on cl.client_id = camp.client_id;
        """
clients_merged = pd.read_sql_query(query, connection)
connection.close

In [4]:
# checking for datatypes
print(clients_merged.dtypes)

# checking for missing values
print(client.isnull().sum()) # missing values in Age and Job
print(client_products.isnull().sum()) # no missing values
print(inv_campaign_eval.isnull().sum()) # no missing values
print(balances.isnull().sum()) # no missing values

# dealing with missing values
clients_merged['job'].fillna('unknown', inplace=True) # imputing "unknown" in job
clients_merged['age'].fillna(clients_merged['age'].median(), inplace=True) # imputing median in age

client_id          int64
age              float64
job               object
marital           object
education         object
gender            object
has_deposits      object
loan              object
has_insurance     object
has_mortgage      object
dtype: object
client_id      0
age          232
job          438
marital        0
education      0
gender         0
dtype: int64
client_id        0
has_deposits     0
loan             0
has_insurance    0
has_mortgage     0
dtype: int64
client_id    0
poutcome     0
dtype: int64
date         0
balance      0
client_id    0
currency     0
dtype: int64

In [5]:
# label encoding categorical variables
le = LabelEncoder()
clients_merged['has_deposits_enc'] = le.fit_transform(clients_merged['has_deposits'])
clients_merged['loan_enc'] = le.fit_transform(clients_merged['loan'])
clients_merged['has_insurance_enc'] = le.fit_transform(clients_merged['has_insurance'])
clients_merged['has_mortgage_enc'] = le.fit_transform(clients_merged['has_mortgage'])
clients_merged['marital_enc'] = le.fit_transform(clients_merged['marital'])
clients_merged['education_enc'] = le.fit_transform(clients_merged['education'])
clients_merged['gender_enc'] = le.fit_transform(clients_merged['gender'])
clients_merged['job_enc'] = le.fit_transform(clients_merged['job'])

In [6]:
# extracting encoding labels for future reference
job_labels = clients_merged[['job', 'job_enc']].drop_duplicates().sort_values('job_enc')
gender_labels = clients_merged[['gender', 'gender_enc']].drop_duplicates().sort_values('gender_enc')
education_labels = clients_merged[['education', 'education_enc']].drop_duplicates().sort_values('education_enc')
marital_labels = clients_merged[['marital', 'marital_enc']].drop_duplicates().sort_values('marital_enc')
has_mortgage_labels = clients_merged[['has_mortgage', 'has_mortgage_enc']].drop_duplicates().sort_values('has_mortgage_enc')
has_insurance_labels = clients_merged[['has_insurance', 'has_insurance_enc']].drop_duplicates().sort_values('has_insurance_enc')
loan_labels = clients_merged[['loan', 'loan_enc']].drop_duplicates().sort_values('loan_enc')
has_deposits_labels = clients_merged[['has_deposits', 'has_deposits_enc']].drop_duplicates().sort_values('has_deposits_enc')

In [7]:
# editing table balances
# removing time from datetime
balances['date'] = pd.to_datetime(balances['date'])
balances['date'] = balances['date'].dt.date

# fetching currency exchange rates for EUR and USD
c = CurrencyRates()

target_currency = 'CZK'
start_date = datetime.datetime(2022, 6, 21).date()
end_date = datetime.datetime(2023, 6, 6).date()

# EUR
base_currency = 'EUR'

eur_rates_date = []
eur_rates_rate = []

current_date = start_date
while current_date <= end_date:
    try:
        rate = c.get_rate(base_currency, target_currency, current_date)
        eur_rates_date.append(current_date)
        eur_rates_rate.append(rate)
    except RatesNotAvailableError as e:
        print(e)
    current_date += datetime.timedelta(days=1)

eur_df = pd.DataFrame({'date': eur_rates_date, 'eur_rate': eur_rates_rate})

# USD
base_currency = 'USD'

usd_rates_date = []
usd_rates_rate = []

current_date = start_date
while current_date <= end_date:
    try:
        rate = c.get_rate(base_currency, target_currency, current_date)
        usd_rates_date.append(current_date)
        usd_rates_rate.append(rate)
    except RatesNotAvailableError as e:
        print(e)
    current_date += datetime.timedelta(days=1)

usd_df = pd.DataFrame({'date': usd_rates_date, 'usd_rate': usd_rates_rate})

# mapping exchange rate columns into balances dataframe
balances = pd.merge(balances, eur_df, on = 'date')
balances = pd.merge(balances, usd_df, on = 'date')

In [9]:
# creating column with balances recalculated to czk

# TO BE FINISHED - returns 0.00

balances['balance_in_czk'] = 0  # Initializing the new column

# Apply the condition using .loc for 'EUR'
eur_condition = balances['currency'] == 'EUR'
balances.loc[eur_condition, 'balance_in_czk'] = balances.loc[eur_condition, 'balance'] * balances.loc[eur_condition, 'eur_rate']

# Apply the condition using .loc for 'USD'
usd_condition = balances['currency'] == 'USD'
balances.loc[usd_condition, 'balance_in_czk'] = balances.loc[usd_condition, 'balance'] * balances.loc[usd_condition, 'usd_rate']

C:\Users\Danielka\AppData\Local\Temp\ipykernel_7908\1719199775.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 2.43686783e+02  2.08319867e+03  1.01006887e+02  1.77300846e+02
  1.88668472e+02 -4.87431017e+00  8.41930858e+02  2.62942839e+03
  6.24774921e+02  4.28419761e+03  6.00699285e+02  3.54691423e+03
  1.20532036e+03  8.47743895e+02  1.04740018e+03  1.12202933e+03
  5.01324932e+02  6.72695351e+03  2.93192714e+03  1.35802677e+03
  2.36623426e+02  1.21589799e+03  2.45697310e+03  1.14652075e+02
  1.64194272e+03  8.11865845e+03  1.48942113e+03 -9.83218628e+00
  2.65526729e+03  2.61951838e+01  1.70209374e+03  1.52355308e+03
  1.73180272e+03  3.88301735e+01  4.81277618e+01  2.05055129e+03
  1.99291406e+03  3.27221588e+02  2.13487515e+03  1.14914417e+01
  1.18181934e+02  1.92157184e+02  5.67214039e+01  9.46928559e+02
  2.71373268e+03  6.57402028e+02  4.48084479e+03  5.34778592e+02
  3.72837572e+03  1.09888223e+03  7.86135082e+02  9.92467740e+02
  1.14749357e+03  3.17780326e+02  6.74094192e+03  3.09129565e+03
  1.41584324e+03  2.69957357e+02  1.30719855e+03  2.48418344e+03
  8.35579568e+01  1.70334055e+03  8.24025200e+03  1.48658218e+03
  8.27338071e+01  2.64192024e+03  1.19250359e+01  1.60036206e+03
  1.42879695e+03  1.98495067e+03  1.30848369e+01  1.59984980e+02
  2.03613349e+03  2.07500215e+03  2.88850959e+02  2.06786673e+03
  1.64730242e+02  1.58293554e+02  2.58674554e+02 -1.43833929e+01
  9.32816386e+02  2.67816441e+03  7.85980772e+02  4.35731261e+03
  6.35661122e+02  3.59794655e+03  1.05798110e+03  8.16548003e+02
  1.05154086e+03  1.05199524e+03  4.28278685e+02  6.67332044e+03
  2.94508869e+03  1.35004455e+03  1.38148030e+02  1.31460899e+03
  2.47968872e+03  7.81958840e+01  1.62711130e+03  8.23671955e+03
  1.44701775e+03  9.29680384e+01  2.62907080e+03  2.79476779e+00
  1.57986881e+03  1.47945813e+03  1.77467573e+03 -4.38877479e+01
  1.31153870e+02  1.91701541e+03  2.00058270e+03  2.64935751e+02
  2.13319837e+03  9.60366226e+01  2.02718425e+02  2.40933196e+02
  1.81237850e+01  8.58170736e+02  2.65281892e+03  7.45684297e+02
  4.33422757e+03  5.06266512e+02  3.60342043e+03  1.17760720e+03
  7.52988079e+02  1.00570859e+03  1.07065841e+03  3.92983563e+02
  6.73182560e+03  2.95780151e+03  1.30340273e+03  2.21564366e+02
  1.27740620e+03  2.41665305e+03  1.67893077e+02  1.66041679e+03
  8.20984946e+03  1.55623796e+03  1.31128697e+02  2.64355210e+03
 -2.70805788e+01  1.68277874e+03  1.40025545e+03  1.99548792e+03
  2.63394039e+00  1.68838973e+02  2.00631548e+03  2.03026265e+03
  2.19348755e+02  2.05648867e+03  7.90632543e+01  1.10867793e+02
  2.09179973e+02 -8.00336240e+00  9.10013459e+02  2.65832762e+03
  7.04865312e+02  4.43970160e+03  5.09936071e+02  3.63739276e+03
  1.18965300e+03  7.19330318e+02  1.02466478e+03  1.14528112e+03
  4.43937629e+02  6.78815373e+03  2.88707900e+03  1.35847558e+03
  2.38154801e+02  1.33397089e+03  2.43758812e+03  2.10579693e+02
  1.64554141e+03  8.15073067e+03  1.44828064e+03  3.50956487e+01
  2.53916489e+03  4.91420013e+01  1.60357258e+03  1.60376103e+03
  1.89395879e+03 -1.48822459e+01  5.64199413e+01  2.02587918e+03
  1.94139474e+03  1.78425224e+02  2.09703184e+03  1.51127514e+02
  2.53825374e+02  2.20687978e+02  3.20512551e+01  9.13154326e+02
  2.72830258e+03  7.98761781e+02  4.43847790e+03  5.10183781e+02
  3.60661787e+03  1.10243919e+03  8.74158167e+02  1.04734409e+03
  1.15288222e+03  3.34276460e+02  6.80826585e+03  2.93259654e+03
  1.45163552e+03  1.37399596e+02  1.29146855e+03  2.46267759e+03
  6.14487808e+01  1.59490586e+03  8.21335974e+03  1.55133989e+03
  1.11255279e+02  2.69034230e+03 -7.12139493e+01  1.63032132e+03
  1.60287589e+03  1.87129301e+03 -5.31232258e+01  1.23075801e+02
  2.01700470e+03  2.04210937e+03  3.48343129e+02  2.05505338e+03
  1.47800433e+02  6.62376385e+01  1.60284704e+02  2.39209024e+01
  8.95813144e+02  2.77499737e+03  7.32460802e+02  4.46005721e+03
  4.55998696e+02  3.63640031e+03  1.10316356e+03  8.58325433e+02
  1.04727230e+03  1.12553443e+03  4.17304965e+02  6.85977186e+03
  2.96737768e+03  1.47759931e+03  2.30058426e+02  1.30034369e+03
  2.55827845e+03  1.20989861e+02  1.73098715e+03  8.19341739e+03
  1.48281411e+03 -3.82893927e+00  2.71405446e+03  1.94873843e+02
  1.68072608e+03  1.53627832e+03  1.96049051e+03  5.80880679e+01
  8.16888355e+01  2.16654405e+03  1.96524144e+03  2.56383147e+02
  1.98843352e+03  7.88801914e+01  1.16837127e+02  1.85430615e+02
 -1.25079039e+02  8.14952636e+02  2.69426938e+03  7.59339706e+02
  4.34665470e+03  6.65627619e+02  3.64464131e+03  1.25312380e+03
  7.71556421e+02  1.05056437e+03  1.15880772e+03  5.04794758e+02
  6.73517836e+03  3.02534511e+03  1.33349775e+03  2.08376549e+02
  1.36175110e+03  2.45193475e+03  1.63978584e+02  1.57407000e+03
  8.16408494e+03  1.51702953e+03  1.29525750e+02  2.63992541e+03
  4.93685256e+01  1.57642625e+03  1.51679249e+03  1.89626816e+03
 -3.46650442e+01  1.76117383e+02  1.99217833e+03  1.96814292e+03
  2.20260989e+02  2.23839079e+03  4.96281089e+01  1.54515488e+02
  2.13101467e+02  4.65132314e+01  9.25298569e+02  2.73856733e+03
  8.25749362e+02  4.37009624e+03  5.58901727e+02  3.61069623e+03
  1.20748041e+03  7.96954369e+02  1.12125996e+03  1.15686699e+03
  4.23756553e+02  6.77237291e+03  3.21178888e+03  1.35468752e+03
  1.56658679e+02  1.24261201e+03  2.58055783e+03  6.63602135e+01
  1.74320158e+03  8.25801665e+03  1.57691856e+03  4.25626211e+01
  2.68335146e+03 -5.70744096e+01  1.62545802e+03  1.59600834e+03
  1.95088144e+03 -3.39745850e+01  1.65057862e+02  2.09845260e+03
  1.97847890e+03  2.02607076e+02  2.13170636e+03  7.33227497e+00
  1.58482050e+02  1.88348245e+02 -1.02342291e+02  7.93946994e+02
  2.71442361e+03  7.08116518e+02  4.39920170e+03  6.04511822e+02
  3.59079862e+03  1.26747646e+03  8.27979628e+02  9.52156512e+02
  1.20531047e+03  3.94951425e+02  6.80989093e+03  2.91207049e+03
  1.45132163e+03  1.91050156e+02  1.36007636e+03  2.55049211e+03
  1.23125581e+02  1.74886037e+03  8.25520241e+03  1.47544506e+03
  1.48819381e+02  2.61640663e+03  6.49899984e+01  1.57007821e+03
  1.44467470e+03  1.91159343e+03  6.04103275e+01  1.27906939e+02
  2.02617118e+03  2.01285185e+03  2.65686689e+02  2.12966386e+03
 -1.09765606e+00  6.39144742e+01  2.02526884e+02 -1.62667527e+01
  8.11206246e+02  2.73893076e+03  7.61407294e+02  4.43494650e+03
  5.49708811e+02  3.54897520e+03  1.26098015e+03  7.70749756e+02
  9.90496522e+02  1.22445340e+03  4.18175729e+02  6.84677380e+03
  3.13098026e+03  1.39986044e+03  2.42660374e+02  1.22594535e+03
  2.56701758e+03  5.86290377e+01  1.61699058e+03  8.37109207e+03
  1.59796575e+03 -1.10873536e+01  2.67117318e+03  1.30876496e+00
  1.61363968e+03  1.49028786e+03  2.10154416e+03 -1.83151224e+02
  4.88149978e+01  2.00847910e+03  2.15468240e+03  2.67165008e+02
  2.19373243e+03  1.45467998e+02  1.18729907e+02  1.52729376e+02
  5.85278409e+01  8.13870677e+02  2.69371495e+03  8.97158310e+02
  4.60939101e+03  6.03942272e+02  3.62107258e+03  1.17528064e+03
  8.63984695e+02  1.14753306e+03  1.20843520e+03  4.04765397e+02
  6.81529250e+03  3.01027198e+03  1.39293098e+03  2.85281892e+02
  1.24753939e+03  2.46388720e+03  1.73676128e+02  1.62616048e+03
  8.39752547e+03  1.52773069e+03  6.25914817e+01  2.70921749e+03
  8.69707536e+01  1.58951077e+03  1.65596172e+03  1.98961994e+03
 -2.96283528e+01  1.38003156e+02  1.95972530e+03  2.01567569e+03
  3.27165849e+02  2.10830837e+03  8.42606569e+01  1.62111097e+02
  2.28679157e+02  6.44216911e+01  9.29410418e+02  2.82433154e+03
  7.66587114e+02  4.57180697e+03  5.60726275e+02  3.66489534e+03
  1.26159128e+03  7.35024164e+02  1.04684125e+03  1.19480277e+03
  4.90736221e+02  6.96148873e+03  3.01497369e+03  1.37338454e+03
  2.83757098e+02  1.26780432e+03  2.54127545e+03  1.58633648e+02
  1.69881470e+03  8.45139042e+03  1.64980529e+03  1.25485662e+02
  2.68282246e+03  4.80835868e+01  1.55948164e+03  1.53051513e+03
  1.97499003e+03  5.52286945e+01  8.58163480e+01  1.98570693e+03
  2.00992017e+03  2.39554043e+02  2.13188497e+03  1.13282441e+02
  2.25477719e+02  2.02134961e+02  2.98302760e+01  9.89014798e+02
  2.81086322e+03  7.20829351e+02  4.47656500e+03  4.98144057e+02
  3.81833009e+03  1.19289256e+03  8.02391662e+02  1.01078188e+03
  1.19973514e+03  5.05915179e+02  6.94454767e+03  3.00507160e+03
  1.53038690e+03  3.03608188e+02  1.27404657e+03  2.60225969e+03
  7.59456441e+01  1.70570147e+03  8.52194735e+03  1.59547459e+03
  8.35982813e+01  2.76982253e+03 -7.73864689e+01  1.66682360e+03
  1.47549470e+03  1.97649440e+03  7.29416474e+01  1.37624718e+02
  2.00269259e+03  2.13904574e+03  2.06497467e+02  2.26138196e+03
  1.20585810e+02  2.30380756e+02  1.44637610e+02  5.11506223e+01
  8.44624092e+02  2.65297652e+03  7.33869272e+02  4.49217094e+03
  5.32587808e+02  3.70219394e+03  1.31618511e+03  8.24171480e+02
  1.09213449e+03  1.11697813e+03  3.92222479e+02  7.07975266e+03
  2.99864866e+03  1.40136717e+03  2.91926764e+02  1.36253969e+03
  2.56083914e+03  2.84632887e+02  1.74712387e+03  8.60215872e+03
  1.49059155e+03  8.74598926e+01  2.74986041e+03  6.52638174e+01
  1.65017485e+03  1.47731171e+03  1.89821292e+03 -7.70774695e+01
  4.92504623e+00  2.07222711e+03  2.03548843e+03  2.36031980e+02
  2.10956840e+03  1.47082949e+02  1.45426659e+02  9.14939048e+01
 -9.01102879e+01  7.66476519e+02  2.73094543e+03  7.47099526e+02
  4.57322957e+03  5.88006771e+02  3.72637138e+03  1.22899096e+03
  8.13232449e+02  1.14027744e+03  1.19195611e+03  4.38467647e+02
  6.97090817e+03  3.12163847e+03  1.41621266e+03  2.73824419e+02
  1.37530248e+03  2.49393455e+03  2.67779802e+02  1.70416555e+03
  8.40813429e+03  1.46735227e+03  1.59426170e+02  2.77351843e+03
  6.83112047e+00  1.67134691e+03  1.40126139e+03  1.98685428e+03
  6.29955404e+00  3.58503593e+01  2.01679128e+03  2.12134465e+03
  2.71043673e+02  2.15863857e+03  7.05948133e+01  1.79480142e+02
  1.04003831e+02 -8.56371206e+01  8.71753406e+02  2.74498688e+03
  8.36388037e+02  4.55787518e+03  6.35185774e+02  3.61188310e+03
  1.29564877e+03  8.55536032e+02  1.11727097e+03  1.13183592e+03
  4.62130857e+02  6.95898034e+03  2.89490283e+03  1.33295045e+03
  2.78795717e+02  1.26511959e+03  2.60185524e+03  1.05381472e+02
  1.75275138e+03  8.47929240e+03  1.46175493e+03  7.63570682e+01
  2.75442506e+03  1.09636024e+02  1.74765139e+03  1.62789236e+03
  1.95308118e+03 -3.29417931e+01  2.17489510e+01  2.14878185e+03
  2.15000478e+03  3.55683617e+02  2.20357468e+03  4.25657465e+01
  1.70510251e+02  2.73219715e+02 -1.56653814e+02  8.50789513e+02
  2.73929612e+03  6.93895992e+02  4.52515363e+03  5.38910358e+02
  3.69248764e+03  1.23373855e+03  8.27800150e+02  1.06804910e+03
  1.21221785e+03  4.37910353e+02  6.95822871e+03  3.09935349e+03
  1.41087097e+03  2.08544848e+02  1.33175489e+03  2.54766779e+03
  1.97379297e+02  1.75449867e+03  8.56414170e+03  1.45984359e+03
 -3.04525451e+01  2.63186510e+03  8.11111416e+01  1.66641041e+03
  1.55238477e+03  1.99818964e+03  5.02043371e+01  8.80253681e+01
  2.13253879e+03  2.13720223e+03  3.84717400e+02  2.24169882e+03
  1.45499008e+02  2.02897692e+02  2.19703341e+02 -1.00240320e+02
  9.03535363e+02  2.80301574e+03  7.83406003e+02  4.50968628e+03
  5.29272146e+02  3.62339420e+03  1.25743381e+03  8.92654050e+02
  1.03321146e+03  1.13644671e+03  4.77183638e+02  6.99547611e+03
  3.04658220e+03  1.43557187e+03  2.41555617e+02  1.33815312e+03
  2.56803936e+03  1.83221099e+02  1.76293208e+03  8.58049501e+03
  1.48158149e+03  1.09498266e+02  2.84683987e+03  6.09589045e+01
  1.71624615e+03  1.59135333e+03  2.02324340e+03 -7.29396561e+01
  1.41222478e+02  2.17804792e+03  2.12411461e+03  2.91934691e+02
  2.19095215e+03  1.51712132e+02  1.70805293e+02  2.51395061e+02
 -4.10146265e+00  9.16170519e+02  2.81885003e+03  7.50417171e+02
  4.53797068e+03  5.32978437e+02  3.90898114e+03  1.28381761e+03
  8.33833669e+02  9.69995647e+02  1.19353191e+03  3.54684201e+02
  6.96266214e+03  3.16005301e+03  1.40230866e+03  2.65225901e+02
  1.39062262e+03  2.65956692e+03  7.14568904e+01  1.77124735e+03
  8.55184230e+03  1.61973547e+03 -2.95773974e+01  2.76074635e+03
 -3.14928902e+01  1.56942759e+03  1.57074449e+03  2.02349020e+03
  4.69426356e+01  3.59052817e+01  1.97769995e+03  2.03255661e+03
  3.55345104e+02  2.12243080e+03  4.65819837e+01  2.71420620e+01
  1.87559991e+02  8.42498087e+00  9.44356909e+02  2.82057027e+03
  7.90122941e+02  4.63701303e+03  6.08497699e+02  3.70032763e+03
  1.19957907e+03  8.55564553e+02  1.10756789e+03  1.21556743e+03
  4.15222744e+02  7.03240098e+03  3.09104344e+03  1.43199822e+03
  1.40463831e+02  1.33395479e+03  2.56222185e+03  1.15500388e+02
  1.68935113e+03  8.56167382e+03  1.59065795e+03  1.62645835e+01
  2.70745133e+03  9.47358177e+01  1.59936397e+03  1.55504741e+03
  1.90610063e+03  1.29010596e+01  7.34911156e+01  2.08443647e+03
  2.09331478e+03  2.56031707e+02  2.22456377e+03  1.69760709e+02
  9.71000888e+01  1.22726350e+02  9.02600929e+00  7.80159334e+02
  2.75048536e+03  7.39321867e+02  4.58880101e+03  5.37992051e+02
  3.69557549e+03  1.28372809e+03  8.01533528e+02  1.16741606e+03
  1.12651103e+03  4.50940081e+02  6.90470033e+03  3.05068533e+03
  1.30076280e+03  2.07764360e+02  1.31181494e+03  2.66895330e+03
  1.94510539e+02  1.75336565e+03  8.34428959e+03  1.49072628e+03
  4.45222670e+01  2.76545324e+03  1.11169594e+02  1.69890613e+03
  1.60166626e+03  2.03819224e+03  2.59652964e+00  1.32304877e+02
  2.05800838e+03  2.09867483e+03  2.18156881e+02  2.18617512e+03
  7.15704274e+01  1.33807161e+02  1.74317458e+02  5.08638081e+01
  8.51236082e+02  2.79182945e+03  7.84730571e+02  4.57428574e+03
  6.07275842e+02  3.79513465e+03  1.33515883e+03  7.44532332e+02
  1.05651686e+03  1.13849419e+03  4.28160659e+02  7.07643687e+03
  3.08192827e+03  1.47384444e+03  2.69710258e+02  1.36646739e+03
  2.55911483e+03  1.35095062e+02  1.72061207e+03  8.54473802e+03
  1.59124208e+03  6.31146462e+01  2.76793732e+03 -1.62570012e+01
  1.73461307e+03  1.65735348e+03  2.18169008e+03  4.74674475e+01
  2.38194226e+01  2.15672342e+03  2.09627904e+03  2.07392000e+02
  2.13657572e+03  1.20787276e+02  1.47912006e+02  1.83551893e+02
  1.62033174e+02  8.50805646e+02  2.80385383e+03  8.15178855e+02
  4.62021395e+03  5.00098940e+02  3.74494965e+03  1.18105243e+03
  8.32572208e+02  1.10192687e+03  1.13988323e+03  4.26283128e+02
  7.00796891e+03  3.02028881e+03  1.43577932e+03  2.49121115e+02
  1.42683265e+03  2.51408543e+03  1.35683856e+02  1.67429450e+03
  8.45465622e+03  1.54873083e+03  3.12339155e+01  2.72967390e+03
 -4.70309339e+01  1.77365652e+03  1.59433849e+03  1.92261352e+03
  2.56774997e+01  1.29023281e+02  2.09564493e+03  2.08455807e+03
  2.20981032e+02  2.27411963e+03  9.95317326e+01  6.62592372e+01
  1.85284892e+02 -1.01042437e+02  8.94525061e+02  2.77507312e+03
  8.27155609e+02  4.63392281e+03  6.34412492e+02  3.72779278e+03
  1.24880842e+03  8.65722393e+02  9.95246542e+02  1.15118496e+03
  4.11404773e+02  7.18588900e+03  3.07626061e+03  1.43267543e+03
  1.52324359e+02  1.34878750e+03  2.56276231e+03  1.37158161e+02
  1.70852753e+03  8.67295833e+03  1.60295718e+03  2.20561459e+01
  2.83580211e+03  2.48142049e+01  1.68209567e+03  1.38116424e+03
  2.15866329e+03 -5.52533863e+01  7.69178123e+01  2.11654490e+03
  2.11720064e+03  3.04970723e+02  2.31843429e+03  1.14575875e+02
  2.10967174e+02  1.47074779e+02  8.08083892e+01  9.31930520e+02
  2.84972275e+03  7.47742908e+02  4.54995703e+03  5.91455068e+02
  3.75437078e+03  1.27776504e+03  7.53324141e+02  1.13487404e+03
  1.12569354e+03  4.40766614e+02  7.04564260e+03  3.05675339e+03
  1.52402938e+03  1.62611807e+02  1.30884661e+03  2.62100172e+03
  1.72137150e+02  1.62342706e+03  8.48116492e+03  1.49651145e+03
  8.53859345e+01  2.79872048e+03  9.63240154e+01  1.68654648e+03
  1.63636250e+03  1.97113392e+03  4.51037348e+01  1.43308659e+02
  2.10766727e+03  2.06561213e+03]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  balances.loc[eur_condition, 'balance_in_czk'] = balances.loc[eur_condition, 'balance'] * balances.loc[eur_condition, 'eur_rate']

In [ ]:
# feature engineering from table balances

# last balance
last_timestamp_index = balances.groupby('client_id')['date'].idxmax()
last_timestamp_df = balances.loc[last_timestamp_index]
last_timestamp_df.rename(columns={'balance': 'last_balance'}, inplace=True)
clients_merged = pd.merge(clients_merged, last_timestamp_df[['last_balance','client_id']], on = 'client_id')

# mean balance
mean_bal_by_client = balances.groupby('client_id')['balance'].mean().reset_index()
mean_bal_by_client.rename(columns={'balance': 'mean_balance'}, inplace=True)
clients_merged = pd.merge(clients_merged, mean_bal_by_client[['mean_balance','client_id']], on = 'client_id')

# min balance
min_bal_by_client = balances.groupby('client_id')['balance'].min().reset_index()
min_bal_by_client.rename(columns={'balance': 'min_balance'}, inplace=True)
clients_merged = pd.merge(clients_merged, min_bal_by_client[['min_balance','client_id']], on = 'client_id')

# max balance
max_bal_by_client = balances.groupby('client_id')['balance'].max().reset_index()
max_bal_by_client.rename(columns={'balance': 'max_balance'}, inplace=True)
clients_merged = pd.merge(clients_merged, max_bal_by_client[['max_balance','client_id']], on = 'client_id')

# currency (encoded)
clients_merged = pd.merge(clients_merged, balances[['client_id','currency']].drop_duplicates(), on = 'client_id')
clients_merged['currency_enc'] = le.fit_transform(clients_merged['currency'])
currency_labels = clients_merged[['currency', 'currency_enc']].drop_duplicates().sort_values('currency_enc')

In [ ]:
# joining evaluation table with cleaned client table
first_round_clients = pd.merge(inv_campaign_eval, clients_merged, on = 'client_id')
first_round_clients

,client_id,poutcome,age,job,marital,education,gender,has_deposits,loan,has_insurance,...,marital_enc,education_enc,gender_enc,job_enc,last_balance,mean_balance,min_balance,max_balance,currency,currency_enc
0,249789938,success,38.0,services,married,secondary,M,yes,no,n,...,1,1,1,7,2680.467773,2669.532734,2515.500059,2775.615374,CZK,0
1,1504633819,failure,38.0,management,married,tertiary,M,no,yes,n,...,1,2,1,4,5476.241582,5440.862334,5344.385346,5529.866975,CZK,0
2,1952195738,success,34.0,services,married,secondary,M,yes,yes,n,...,1,1,1,7,2935.906506,2922.958852,2852.824056,3016.314818,CZK,0
3,989726384,success,62.0,retired,married,secondary,F,yes,no,n,...,1,1,0,5,3042.641066,3124.614843,3011.445910,3212.174671,CZK,0
4,1971878545,failure,36.0,management,single,tertiary,M,yes,no,n,...,2,2,1,4,526.157661,474.083033,362.809777,571.028715,CZK,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,1270855655,failure,58.0,admin.,divorced,secondary,F,yes,no,y,...,0,1,0,0,3353.741381,3349.398115,3245.043023,3445.072323,CZK,0
2295,471724023,success,72.0,retired,married,primary,M,yes,no,n,...,1,0,1,5,4617.207488,4645.473515,4493.914363,4736.613098,CZK,0
2296,620088171,failure,34.0,admin.,married,tertiary,F,yes,no,y,...,1,2,0,0,939.603482,895.455390,771.707441,979.161966,CZK,0
2297,1518319265,success,39.0,management,married,unknown,F,yes,no,n,...,1,3,0,4,10.524798,77.494621,-36.431915,226.953215,CZK,0
2298,705801685,success,36.0,blue-collar,single,secondary,F,yes,no,n,...,2,1,0,1,-13.415755,40.204823,-45.891607,163.032053,CZK,0

In [ ]:
# visualizations of data from first round of campaign

# TO DO